nav{
    text-align: center;
    padding-top:10px;
    height:85px;
}
.header{
    font-size:35px;
    padding:5px;
}
.dashboard{
    margin-left:150px;
    margin-right:150px;
    margin-top:35px;
}
/*history of searches*/
#searchHistory{
    margin-top:15px;
    margin-right:15px;
}
.cities{
    text-transform:capitalize;
}
/*todays weather*/
#today{
    text-transform:capitalize;
    padding:5px;
}
/* five day forecast*/
.date{
    padding:5px;
    text-align: center;
}
.card-body{
    padding: 0px;
    padding-left: 15px;
}
.card{
    height:215px;
}
.fiveday{
    padding:5px;
}
#historyToggle{
    display:none;
}
@media screen and (max-width: 1000px){
    #searchSec{
       margin-top: 40px;
       margin-bottom: 20px;
       justify-content: center;
    } 
    #searchHistory{
        display:none;
    }
    #historyToggle{
        display: inline-flex;
    }
    form{
        justify-content: space-around;
    }
    .dashboard{
        margin:0px;
    }
    #today{
        width: 100%;
    }
     #current{
        width: 100%;
    }
    .card-body{
        padding-left: unset;
        padding:5px;
    }
    .row{
        margin-left: unset;
        margin-right: unset;
    }
    #forecast{
        display: flex;
        justify-content: center;
    }
    h5{
        text-align: center;
        font-size: 30px;
    }
    .fiveday{
        min-width: 50%;
        max-width: 50%;
    }
    .search{
        display: flex;
        justify-content: center;
    }
  
}